<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>669947592480-mve36ac9ro8fvsnoahbrg6s1a1j3omu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669947592480-mve36ac9ro8fvsnoahbrg6s1a1j3omu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCb0yeW2GHRUI2sDjhtdDONZ1PPr0GF-wc</string>
	<key>GCM_SENDER_ID</key>
	<string>669947592480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proyecto.CABI</string>
	<key>PROJECT_ID</key>
	<string>cabi-297ee</string>
	<key>STORAGE_BUCKET</key>
	<string>cabi-297ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669947592480:ios:1c355ed17cdc14fd</string>
	<key>DATABASE_URL</key>
	<string>https://cabi-297ee.firebaseio.com</string>
</dict>
</plist>